<footer class="footer" id="footer">
  <div class="content">
    <div class="columns is-medium">
      <!-- <img class="column_img" src= "\assets\contact.png" width="100" height="2"/> -->
      <h1 class="column title has-text-centered">
        Contact Us
      </h1>
    </div>
  </div>
  <div class="columns is-medium">
    <div class="column has-text-centered">Dell 12 <br>
      <p class="bd-focus-item column has-text-centered">

        Harish Agrawal:<a href="mailto:Harish_Agrawal@Dell.com">Harish_Agrawal@Dell.com</a> <br>
        Vignesh Raja:<a href="mailto:Vignesh_Arunachalam@Dell.com">Vignesh_Arunachalam@Dell.com</a> <br>
        Natraj M S:<a href="mailto:Natraj_M_S@Dell.com">Natraj_M_S@Dell.com</a> <br>
        Smriti Prakash: <a href="mailto:smriti_prakash@dell.com">smriti_prakash@dell.com</a><br>
        Charanya Ramraj:<a href="mailto:Charanya_Ramraj@Dell.com">Charanya_Ramraj@Dell.com</a> <br>
        Bedatrayee Ghosh: <a href="mailto:Bedatrayee_Ghosh@Dell.com">Bedatrayee_Ghosh@Dell.com</a> <br>
        Amit Kumar:<a href="mailto:Amit_Kumar32@DELL.com">Amit_Kumar32@DELL.com</a> <br>
      </p>
    </div>


    <div class="column has-text-centered">Dell 5 <br>
      <p class="bd-focus-item column has-text-centered">
        Sudharshana: <a href="mailto:sudharshana_rao@dell.com">sudharshana_rao@dell.com</a> <br>
        Vivekanandh:<a href="mailto:Vivekanandh_N_R@Dell.com">Vivekanandh_N_R@Dell.com</a> <br>
        Prateek:<a href="mailto:Prateek_Vishwakarma@Dell.com">Prateek_Vishwakarma@Dell.com</a> <br>
        Rakesh:<a href="mailto:Rakesh_DN@Dell.com">Rakesh_DN@Dell.com</a> <br>
        Muni:<a href="mailto:Muni_Sekhar_Poluka@Dell.com">Muni_Sekhar_Poluka@Dell.com</a> <br>
        Ramya:<a href="mailto:Ramya_Akula@Dell.com">Ramya_Akula@Dell.com</a> <br>
        Maruti:<a href="mailto:Maruti_Chavan@Dell.com">Maruti_Chavan@Dell.com</a> <br>
        Ajit:<a href="mailto:Ajit_Abhipallav@Dell.com">Ajit_Abhipallav@Dell.com</a> <br>
      </p>
    </div>
  </div>
</footer>