<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img src="assets\DellTech_Logo_Prm_Blue_Gry_rgb.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href='/home'>
        Home
      </a>

      <a class="navbar-item" href="/calendar">
        Calendar
      </a>

      <a class="navbar-item">
        Gallery
      </a>

      <a class="navbar-item" href="/home#footer">
          Contact Us
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
           
          <a class="button is-primary">
            <strong>Log in</strong>
          </a>
          
        </div>
      </div>
    </div>
  </div>
</nav>