/* You can add global styles to this file, and also import other style files */
@charset "utf-8";

$primary: #0076CE;
$link: #41B6E6;
$info: #EE6411;
$success: #6EA204;
$warning: #F2AF00;
$danger: #CE1126;
$dark: #444444;

@import "../node_modules/bulma/bulma.sass";

html{
    scroll-behavior: smooth;
}