<div class="section">
  <div class="card">
    <header class="card-header has-background-success header-padding">
      <p class="card-header-title has-text-white is-size-4">
        April
      </p>
      <a href="#" class="card-header-icon" aria-label="more options">
        <span class="icon has-text-white">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </a>
    </header>
  </div>
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <div class="date-div has-background-link is-bold has-text-white has-text-centered is-size-4">
            02
          </div>
          <div class="date-div has-background-primary is-bold has-text-white has-text-centered is-size-4">
            04
          </div>
        </div>
        <div class="media-content">
          <p class="title is-5">John Smith</p>
          <p class="subtitle is-6">@johnsmith <br>
          </p>
          <p class="subtitle is-6 "> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a>@bulmaio</a>.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- 2nd F and C-->
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <div class="date-div has-background-link is-bold has-text-white has-text-centered is-size-4">
            09
          </div>
          <div class="date-div has-background-primary is-bold has-text-white has-text-centered is-size-4">
            11
          </div>
        </div>
        <div class="media-content">
          <p class="title is-5">John Smith</p>
          <p class="subtitle is-6">@johnsmith <br>
          </p>
          <p class="subtitle is-6 "> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a>@bulmaio</a>.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- 3rd F and C-->
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <div class="date-div has-background-link is-bold has-text-white has-text-centered is-size-4">
            16
          </div>
          <div class="date-div has-background-primary is-bold has-text-white has-text-centered is-size-4">
            18
          </div>
        </div>
        <div class="media-content">
          <p class="title is-5">John Smith</p>
          <p class="subtitle is-6">@johnsmith <br>
          </p>
          <p class="subtitle is-6 "> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a>@bulmaio</a>.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- 4th F and C-->
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <div class="date-div has-background-link is-bold has-text-white has-text-centered is-size-4">
            23
          </div>
          <div class="date-div has-background-primary is-bold has-text-white has-text-centered is-size-4">
            25
          </div>
        </div>
        <div class="media-content">
          <p class="title is-5">John Smith</p>
          <p class="subtitle is-6">@johnsmith <br>
          </p>
          <p class="subtitle is-6 "> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a>@bulmaio</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>